.sinup,button  {
cursor: pointer;
}
.forget-btn{
   display: flex;
   color: blue;;
   cursor: pointer;
}
.forget-btn:hover{
text-decoration: underline;
}
.login-password{
    position: relative;
 
}
.login-password input[type=password]{
padding-right: 50px;
}
.eyeicon{
    position: absolute;
    top: 32px;
    right: 10px;
}
.loginform{
    height: 100vh;
}
.googlebtn{
    margin-top: 30px;
}
.d-flex{
    display:flex;
    justify-content: center;

}
.d-flex {
    list-style: none;
}
 .d-flex li{
  margin: 10px 20px ;

 }
@media screen and (max-width:600px) {

}
