*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  padding: 0 30px;
}
.form{
  width: 50%;
  margin: 50px auto;
}
.addform{
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 10px 0;
  justify-content: center;
}
.addform input,.addform  textarea{
  padding: 10px 5px;
}
.item{
  border: 1px solid gray;
  padding:10px 20px ;
}
.item button{
  margin-top: 10px;
}
.all-item{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}