*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  padding: 0 30px;
}
.form{
  width: 50%;
  margin: 50px auto;
}
.addform{
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 10px 0;
  justify-content: center;
}
.addform input,.addform  textarea{
  padding: 10px 5px;
}
